 .u-section-1 {
  min-height: 839px;
}

.u-section-1 .u-image-1 {
  height: 296px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 422px;
  height: 422px;
  background-image: url("images/avatar.png");
  background-position: 50% 50%;
  margin: -236px auto 0 calc(((100% - 1140px) / 2) + 359px);
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  margin: 60px 343px 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 348px 0 349px;
}

.u-section-1 .u-text-3 {
  margin: 30px 356px 0 357px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px auto 60px calc(((100% - 1140px) / 2) + 397px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 87px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -368px;
  }

  .u-section-1 .u-text-1 {
    width: 554px;
    margin-left: calc(((100% - 1140px) / 2) + 293px);
    margin-right: calc(((100% - 1140px) / 2) + 293px);
  }

  .u-section-1 .u-text-2 {
    width: 543px;
    margin-top: -158px;
    margin-left: calc(((100% - 1140px) / 2) + 299px);
    margin-right: calc(((100% - 1140px) / 2) + 299px);
  }

  .u-section-1 .u-text-3 {
    width: 527px;
    margin-right: calc(((100% - 1140px) / 2) + 307px);
    margin-left: calc(((100% - 1140px) / 2) + 307px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 811px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-top: -130px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 702px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -22px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -259px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: 52px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 1140px) / 2) + 394px);
    margin-bottom: 45px;
    margin-left: auto;
  }
} .u-section-2 {
  min-height: 594px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  margin: 171px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 594px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-3 {
  font-weight: 500;
  margin: 171px auto 0;
}

.u-section-2 .u-text-4 {
  width: 450px;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-4 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 200px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-4 {
    width: 340px;
  }
}